#modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.6);
}

#modal {
  display: none;
  position: absolute;
  width: 550px;
  left: 50%;
  margin-left: -275px;
  padding: 20px;
  background: #fff;
  border: 5px solid #eee;

}

.add	{
	font-size: 12px;
	line-height: 18px;
	vertical-align: top;
}

#center	{
	position: absolute;
	width: 700px;
	left: 50%;
	margin-left: -350px;
	top: 100px;

}

.show a	{
	text-decoration: none;
}


#home {
	position: absolute;
	width: 700px;
	left: 50%;
	margin-left: -350px;
}

.tableWidth	{
	table-layout: fixed;
	width: 700px;
}

th	{
	padding-left: 10px;
	text-align: left;
}

td {
	white-space:nowrap;
	overflow: hidden;
	text-align: left;
	
}

h3	{
	text-decoration: underline;
}

#form	{
	margin-top: 50px;
	padding-bottom: 20px;
}

.center	{
	text-align: center;
}

.close	{
	float: right;
}

.subject {
	clear: both;
	text-align: left;
}

.left {
	float: left;
}

.right {
	float: right;
}

.buttons	{
	text-align: right;
}

.mid {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

