<div id="home">
	<div class="left"><%= link_to "Task Home", tasks_path %></div>
	<div class="right"><%= link_to image_tag('add_sm.jpg', :border => 0), new_task_path, :remote => true %>&nbsp;<span class="add">Add</span></div>
	<br /><br /><br />
	<table class="tableWidth">
		
		<tr>
		   <th width="5%">Done</th>
		   <th width="6%"><%= image_tag("redDot.jpg") %></th>
		   <th width="20%">Due Date</th>
		   <th width="40%">Subject</th>
		   <th width="14%">Patron</th>
		   <% if current_user.admin? %>
		     <th width="20%">Assigned To</th>
		   <% end %>
		</tr>
	
		<%= render :partial => 'shared/filtered' %>
	
	</table>
</div>