<div id="home">
	<div class="left"><%= link_to "Task Home", tasks_path %></div>
	<div class="right"><%= link_to image_tag('add_sm.jpg', :border => 0), new_task_path, :remote => true %>&nbsp;<span class="add">Add</span></div>
	<br /><br /><br />
	<table class="tableWidth">
		
	<%= render :partial => 'shared/table_header' %>
	
	<%= render :partial => 'shared/filtered' %>
	
	</table>
</div>