<!DOCTYPE html>
<html>
<head>
  <title>Activity</title>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css", "modal_styles" %>
  <%= javascript_include_tag "jquery", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.js", "application", "rails" %>
  <%= csrf_meta_tag %>
</head>
<body>


<%= yield %>


</html>
